$color-base: #f2f3f7;
$color-pink: #1bc5bd;
$color-grey: #0c2d4e;
$color-grey-bright: #949494;
$color-white: #fff;
$color-light: #d8d8d8;
$color-footer :#666666;
$color-green :#1bc5bd;




$l-width-sm: 570px;
$l-width-md: 730px;
$l-width-lg: 960px;
$l-width-xl: 1150px;

@import url("https://fonts.googleapis.com/css?family=Quicksand:700|Ubuntu:400&display=swap");

$sans: 'Quicksand', sans-serif;

$font-weight-normal: 100;
$font-weight-regular: 300;
$font-weight-semi-bold: 400;
$font-weight-bold: 500;